<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>price</key>
		<string>650</string>
		<key>description</key>
		<string>Экран 4.7&quot; Retina (1334x750, сенсорный емкостный, 3D Touch) / моноблок / Apple A9 / камера 12 Мп + фронтальная 5 Мп / Bluetooth 4.2 / Wi-Fi 802.11 a/b/g/n/ac / 2 ГБ оперативной памяти / 16 ГБ встроенной памяти / NFC / 3G / LTE / GPS / GLONASS / разъем 3.5 мм / iOS 9 / 138.3 x 67.1 x 7.1 мм, 143 г / серебристы</string>
		<key>name</key>
		<string>Apple iPhone 6sЭкран 4.7&quot; Retina (1334x750, сенсорный емкостный, 3D Touch) / моноблок / Apple A9 / камера 12 Мп + фронтальная 5 Мп / Bluetooth 4.2 / Wi-Fi 802.11 a/b/g/n/ac / 2 ГБ оперативной памяти / 16 ГБ встроенной памяти / NFC / 3G / LTE / GPS / GLONASS / разъем 3.5 мм / iOS 9 / 138.3 x 67.1 x 7.1 мм, 143 г / серебристы
Подробнее: http://rozetka.com.ua/apple_iphone_6s_16gb_silver/p4696202/</string>
	</dict>
	<dict>
		<key>price</key>
		<string>650</string>
		<key>description</key>
		<string>Экран 4.7&quot; Retina (1334x750, сенсорный емкостный, 3D Touch) / моноблок / Apple A9 / камера 12 Мп + фронтальная 5 Мп / Bluetooth 4.2 / Wi-Fi 802.11 a/b/g/n/ac / 2 ГБ оперативной памяти / 16 ГБ встроенной памяти / NFC / 3G / LTE / GPS / GLONASS / разъем 3.5 мм / iOS 9 / 138.3 x 67.1 x 7.1 мм, 143 г / серебристы</string>
		<key>name</key>
		<string>Apple iPhone 6sЭкран 4.7&quot; Retina (1334x750, сенсорный емкостный, 3D Touch) / моноблок / Apple A9 / камера 12 Мп + фронтальная 5 Мп / Bluetooth 4.2 / Wi-Fi 802.11 a/b/g/n/ac / 2 ГБ оперативной памяти / 16 ГБ встроенной памяти / NFC / 3G / LTE / GPS / GLONASS / разъем 3.5 мм / iOS 9 / 138.3 x 67.1 x 7.1 мм, 143 г / серебристы
Подробнее: http://rozetka.com.ua/apple_iphone_6s_16gb_silver/p4696202/</string>
	</dict>
	<dict>
		<key>price</key>
		<string>850</string>
		<key>description</key>
		<string>Экран 5.5&quot; Retina (1920x1080, сенсорный емкостный, 3D Touch) / моноблок / Apple A9 / камера 12 Мп + фронтальная 5 Мп / Bluetooth 4.2 / Wi-Fi 802.11 a/b/g/n/ac / 2 ГБ оперативной памяти / 16 ГБ встроенной памяти / NFC / 3G / LTE / GPS / GLONASS / разъем 3.5 мм / iOS 9 / 158.2 x 77.9 x 7.3 мм, 192 г / серый космос</string>
		<key>name</key>
		<string>Apple iPhone 6s Plus</string>
	</dict>
</array>
</plist>
